<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.test.spring.boot.mapper.TestMapper">

    <update id="updateById">
        update code_config set create_date = now() where id = #{id}
    </update>

    <resultMap id="base_result" type="my.test.spring.boot.common.model.MemberModel">
        <result column="id" property="id" jdbcType="DECIMAL"/>
        <result column="login_name" property="name" jdbcType="VARCHAR"/>
        <result column="created_date" property="createDate" jdbcType="TIMESTAMP"/>
    </resultMap>

    <select id="selectById" resultMap="base_result">
        select * from member where id = #{id}
    </select>
</mapper>